@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap');

body {
    background: rgb(142,135,255);
    background: linear-gradient(246deg, rgba(142,135,255,1) 0%, rgba(192,242,234,1) 93%);
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
}

.container {
    max-width: 90%;
    margin: 2em auto;
    padding: 2em;
}

h1 {
    text-align: center;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    color: rgb(0, 0, 0);
    font-size: 64px;
}

.grid {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    line-height: 115px;
    font-size: 164px;
    background-color: rgba(255, 255, 255, 0.5);
}

.top {
    border-bottom: solid black;
}

.bottom {
    border-top: solid black;
}

.left {
    border-right: solid black;
}

.right {
    border-left: solid black;
}

#reset {
    width: 64px;
    margin: 2em auto;
    display: block;
    font-family: 'Source Code Pro', monospace;
}

#message {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}