@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap');

body {
    background: rgb(142,135,255);
    background: linear-gradient(246deg, rgba(142,135,255,1) 0%, rgba(192,242,234,1) 93%);
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    background-size: cover;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    color: rgb(0, 0, 0);
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

.grid {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.grid3x3 {
    width: 450px;
    height: 450px;
}

.grid4x4 {
    display: none;
    width: 600px;
    height: 600px;
}

.grid5x5 {
    display: none;
    width: 750px;
    height: 750px;
}

.square {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    line-height: 115px;
    font-size: 164px;
    background-color: rgba(255, 255, 255, 0);
}

.top {
    border-bottom: solid black;
}

.bottom {
    border-top: solid black;
}

.left {
    border-right: solid black;
}

.right {
    border-left: solid black;
}

.overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

button {
    width: 78px;
    margin: 2em auto;
    display: block;
    font-family: 'Source Code Pro', monospace;
}

#reset {
    margin-top: 4em;
}

#settings {
    margin-bottom: 4em;
}

#message {
    text-align: center;
    max-width: 80%;
    min-height: 3em;
    margin: 2em auto;
}

.window {
    width: 50vw;
    height: 50vh;
    margin: 10em auto;
    background-color: rgba(237, 237, 237, 0.8);
    border: solid;
    border-radius: 2em;
    text-align: center;
}

#back {
    width: 124px;
}